html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #F7F7FF; }

div#menu {
  height: 25px;
  flex: none;
  background-color: #7C7EB2;
  border-top: 2px solid #0A0B3B;
  border-bottom: 1px solid #0A0B3B; }
  div#menu .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px;
    padding-left: 5px;
    cursor: default;
    color: #F7F7FF;
    border-left: 1px solid #F7F7FF; }

div#mainArea {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0; }

div#statusBar {
  height: 20px;
  flex: none;
  background-color: #333577;
  border-bottom: 2px solid #0A0B3B;
  border-top: 1px solid #0A0B3B; }
  div#statusBar i {
    float: right;
    margin-right: 10px;
    color: #F7F7FF;
    line-height: 20px;
    font-size: large; }

div#sidebar {
  width: 200px;
  flex: none;
  background: #7C7EB2;
  border-right: 1px solid #0A0B3B;
  border-top: 1px solid #0A0B3B;
  border-bottom: 1px solid #0A0B3B; }
  div#sidebar .sidebar-header {
    background-color: #333577;
    padding-left: 10px;
    color: #F7F7FF;
    line-height: 50px;
    margin-bottom: 0; }

div#sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  font-size: normal; }
  div#sidebar ul li {
    line-height: 35px;
    padding-left: 30px;
    border-bottom: 1px dashed #0A0B3B;
    color: #F7F7FF; }
    div#sidebar ul li.active {
      background-color: #F7F7FF;
      color: #333577; }

div#content {
  flex: 1;
  background-color: #F7F7FF;
  border-left: 1px solid #0A0B3B;
  border-top: 1px solid #0A0B3B;
  border-bottom: 1px solid #0A0B3B;
  padding: 10px 10px;
  overflow: auto;
  font-family: 'Source Code Pro', monospace; }
