html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #F7F7FF;
}

div#menu {
    height: 25px;
    flex: none;
    background-color: #7C7EB2;
    border-top: 2px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
}

div#menu .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px;
    padding-left: 5px;
    cursor: default;
    color: #F7F7FF;
    border-left: 1px solid #F7F7FF;
}

div#mainArea {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

div#sidebar {
    width: 200px;
    flex: none;
    background: #7C7EB2;
    border-right: 1px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
}

div#sidebar .sidebar-header {
    background-color: #333577;
    padding-left: 10px;
    color: #F7F7FF;
    line-height: 50px;
    margin-bottom: 0;
}

div#sidebar ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    font-size: normal;
}

div#sidebar ul li {
    line-height: 35px;
    padding-left: 30px;
    border-bottom: 1px dashed #0A0B3B;
    color: #F7F7FF;
}

div#sidebar ul li.active {
    background-color: #F7F7FF;
    color: #333577;
}

div#content {
    flex: 1;
    background-color: #F7F7FF;
    border-left: 1px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
    border-bottom: 1px solid #0A0B3B;
    padding: 10px 10px;
    overflow: auto;
    font-family: 'Source Code Pro', monospace;
}

div#statusBar {
    height: 20px;
    flex: none;
    background-color: #333577;
    border-bottom: 2px solid #0A0B3B;
    border-top: 1px solid #0A0B3B;
}

div#statusBar i {
    float: right;
    margin-right: 10px;
    color: #F7F7FF;
    line-height: 20px;
    font-size: large;
}


/*survey html page*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
    list-style: none;
}

ul {
    text-decoration: none;
    list-style: none;
}

.q1 {
    display: block;
    align-items: center;
    justify-content: center;
}

.q2 {
    display: none;
    background-color: rgb(0, 255, 115);
}

.q3 {
    display: none;
    background-color: rgb(255, 0, 242);
}

.end {
    display: none;
    background-color: orange;
}

header {
    color: grey;
    padding: 10px;
    background-color: greenyellow;
}

header p {
    font-size: 16px;
}

.survey {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(0, 217, 255);
    color: whitesmoke;
    height: 200px;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}

.survey h3 {
    margin: 10px;
    padding-top: 10px;
}

.survey li {
    margin: 10px;
    cursor: pointer;
}

.survey li:hover {
    background: rgb(132, 237, 100);
    width: 150px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 30px;
    transition: 0.3s ease;
}

.end {
    background: royalblue;
    color: white;
    width: 80%;
    margin: 35% auto;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 1 px 7px rgba(0, 0, 0, 0.4);
}

.end h1 {
    margin: 5px;
}

.end a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background: rgb(61, 61, 61);
    outline: none;
}

.end a:hover {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.404);
    transition: 0.3;
}